# Created by venv; see https://docs.python.org/3/library/venv.html
# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Virtual env
.venv/
env/
venv/

# macOS / VS Code / Jupyter
.DS_Store
.vscode/
